<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.txttag.hackathon.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.txttag.hackathon.android.activities.SplashActivity"
             android:launchMode="singleInstance"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.txttag.hackathon.android.activities.SendMessageActivity" android:launchMode="singleInstance" />
        <activity android:name="com.txttag.hackathon.android.activities.RegisterTagActivity" android:launchMode="singleInstance" />
        <activity android:name="com.txttag.hackathon.android.activities.ViewMyMessagesActivity" android:launchMode="singleInstance" />
        <activity android:name="com.txttag.hackathon.android.activities.SettingsActivity" android:launchMode="singleInstance" />
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>